<%= form_with model: @movie do |form| %>

  <% if @movie.errors.any? %>
    <div style="color: red">
      <h2><%= @movie.errors.count %> erros impediram o cadastro:</h2>
      <ul>
        <% @movie.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, "Título" %><br>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :synopsis, "Sinopse" %><br>
    <%= form.text_area :synopsis %>
  </div>

  <div>
    <%= form.label :release_year, "Ano de Lançamento" %><br>
    <%= form.number_field :release_year %>
  </div>

  <div>
    <%= form.label :duration, "Duração (em minutos)" %><br>
    <%= form.number_field :duration %>
  </div>

  <div>
    <%= form.label :director, "Diretor" %><br>
    <%= form.text_field :director %>
  </div>

  <div class="field">
    <%= form.label :poster, "Pôster do Filme" %><br>
    <%= form.file_field :poster %>
  </div>

  <div class="field">
  <%= form.label :categories, "Categorias" %>

  <div class="category-checkbox-list"> 

    <%= form.collection_check_boxes :category_ids, @categories, :id, :name do |b| %>
      <div class="check-box-item">
        <%= b.check_box %>
        <%= b.label %>
      </div>
    <% end %>
</div>
  <div>
    <%= form.submit %>
  </div>
<% end %>