<h1>Catálogo de Filmes</h1>

<div style="margin-bottom: 20px;">
  <%= form_with(url: root_path, method: :get, local: true) do |form| %>
    <%= form.label :query, "Buscar Filme:" %>
    <%= form.text_field :query, placeholder: "Título, diretor ou ano...", value: params[:query] %>
    <%= form.submit "Buscar" %>
  <% end %>
</div>
<% @movies.each do |movie| %>
  <div class="movie-card">

    <% if movie.poster.attached? %>
      <%= image_tag movie.poster, style: "width: 300px; height: auto; border-radius: 8px; margin-bottom: 15px;" %>
    <% end %>
    <h2><%= link_to movie.title, movie_path(movie) %></h2>
    <p><%= movie.synopsis.truncate(240) %></p>
    <p>
      <strong>Ano:</strong> <%= movie.release_year %> |
      <strong>Diretor:</strong> <%= movie.director %>
    </p>
  </div>

<% end %>

<% if @movies.empty? %>
  <p>Nenhum filme cadastrado ainda.</p>
<% end %>

<hr>

<%= paginate @movies %>
