<h1><%= @movie.title %></h1>

<% if @movie.poster.attached? %>
  <div style="margin-bottom: 20px;">
    <%= image_tag @movie.poster, style: "width: 300px; height: auto; border-radius: 8px;" %>
  </div>
<% end %>

<p><strong><%= t('.director') %></strong> <%= @movie.director %></p>
<p><strong><%= t('.release_year') %></strong> <%= @movie.release_year %></p>
<p><strong><%= t('.duration') %></strong> <%= @movie.duration %> <%= t('.duration_unit') %></p>

<div class="category-list">
  <% @movie.categories.each do |category| %>
    <span class="category-tag"><%= category.name %></span>
  <% end %>
</div>

<div class="category-list" style="margin-top: 10px;"> <% @movie.tags.each do |tag| %>
    <span class="category-tag"><%= tag.name %></span> 
  <% end %>
</div>
<hr>
<h3><%= t('.synopsis') %></h3>
<p><%= @movie.synopsis %></p>

<hr>

<% if user_signed_in? && @movie.user == current_user %>

  <div class="button-group">

    <%= link_to t('.edit_button'), edit_movie_path(@movie), class: "button" %>

    <%= button_to t('.delete_button'), 
                  movie_path(@movie), 
                  method: :delete, 
                  class: "button-danger",
                  data: { confirm: t('.delete_confirm') } %>

  </div>

<% end %>

<hr>

<h3><%= t('.add_comment') %></h3>

<%= form_with model: [@movie, @comment] do |form| %>
  
  <% unless user_signed_in? %>
    <div class="field">
      <%= form.label :name, t('.comment_form.your_name') %><br>
      <%= form.text_field :name %>
    </div>
  <% else %>
    <<p><%= t('.comment_form.commenting_as') %> <strong><%= current_user.email %></strong></p>
  <% end %>

  <div class="field">
    <%= form.label :content, t('.comment_form.comment_label') %><br>
    <%= form.text_area :content, rows: 4 %>
  </div>

  <div class="actions">
    <%= form.submit t('.comment_form.submit_button') %>
  </div>
<% end %>

<hr>

<h3><%= t('.comments_title') %></h3>

<div id="comments">
  <% if @comments.empty? %>
    <p><%= t('.no_comments') %></p>
  <% end %>

  <% @comments.each do |comment| %>
    <div class="comment">
      <p>
        <strong>
          <% if comment.user.present? %>
            <%= comment.user.email %>
          <% else %>
            <%= comment.name %>
          <% end %>
        </strong>
        <span style="color: #555; font-size: 0.8em;">
          <%= time_ago_in_words(comment.created_at) %> <%= t('.time_ago') %>
        </span>
      </p>
      <p><%= comment.content %></p>
    </div>
    <hr>
  <% end %>
</div>


<br>
<%= link_to t('.back_link'), root_path, class: "button" %>