<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Catalogo Filmes Rails" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="container">
      <div id="navigation">
   <%= link_to t('navigation.home'), root_path %>

   <% if user_signed_in? %>
     <%= link_to t('navigation.new_movie'), new_movie_path %>
     <%= link_to t('navigation.edit_profile'), edit_user_registration_path %>
     <%= button_to t('navigation.logout'), destroy_user_session_path, method: :delete %>
   <% else %>
     <%= link_to t('navigation.login'), new_user_session_path %>
     <%= link_to t('navigation.sign_up'), new_user_registration_path %>
   <% end %>

   <div style="margin-left: auto;"> 
    <% if I18n.locale == :'pt-BR' %>
      <%= link_to "English", url_for(params.permit!.merge(locale: :en)) %>
    <% else %>
      <%= link_to "Português", url_for(params.permit!.merge(locale: :'pt-BR')) %>
    <% end %>
 </div>
 </div>
  <hr>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

      <%= yield %>
    </div>
  </body>
</html>
